{
  "openapi": "3.1.0",
  "info": {
    "title": "DocOpsAI API",
    "version": "0.1.0",
    "description": "AI-based order processing application that extracts information from email attachments and forwards to backend systems. Provides endpoints for order management, customer and product CRUD, email watching, and template parameter configuration.\n",
    "contact": {
      "name": "DevOps Company"
    }
  },
  "servers": [
    {
      "url": "https://customer.aiotic.ai",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "healthcheck",
      "description": "Service health monitoring"
    },
    {
      "name": "order",
      "description": "Order document upload and processing"
    },
    {
      "name": "order_status",
      "description": "Order processing status tracking"
    },
    {
      "name": "customer",
      "description": "Customer record management with vector search"
    },
    {
      "name": "product",
      "description": "Product record management"
    },
    {
      "name": "template_parameters",
      "description": "Prompt template parameter management"
    },
    {
      "name": "email-watcher",
      "description": "Email inbox monitoring and processing"
    }
  ],
  "paths": {
    "/healthcheck": {
      "get": {
        "operationId": "healthcheck",
        "summary": "Health check",
        "description": "Check if the service is healthy. Accessible without authentication.",
        "tags": [
          "healthcheck"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthCheckResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order/upload": {
      "post": {
        "operationId": "uploadOrder",
        "summary": "Upload order document",
        "description": "Upload one or more documents (PDF, images, or text files) for processing. Files are validated, stored, and queued for background AI processing to extract purchase order information.\n",
        "tags": [
          "order"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "files"
                ],
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "One or more files to process (PDF, JPG, PNG, TXT, MD)"
                  },
                  "request_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Optional custom UUID for the request"
                  }
                },
                "additionalProperties": {
                  "type": "string",
                  "description": "Additional form fields stored as metadata"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Files accepted and queued for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (no files, invalid UUID, unsupported format)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported media type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order/retry/{request_id}": {
      "post": {
        "operationId": "retryOrderProcessing",
        "summary": "Retry order processing",
        "description": "Retry processing a failed order by creating a new request with copied files from the original order. Only orders with status FAILED can be retried (unless debug mode is enabled). The original order status is updated to REPROCESSED.\n",
        "tags": [
          "order"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Retry queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (not in FAILED state, no attachments)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Original order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order/{request_id}/{filename}": {
      "get": {
        "operationId": "getProcessedFile",
        "summary": "Get processed file",
        "description": "Retrieve a specific file associated with a processed order (e.g., extracted text, parsed JSON, original uploads).\n",
        "tags": [
          "order"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestIdPath"
          },
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "description": "Name of the file to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid UUID format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Document or file not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order/raw/classify": {
      "post": {
        "operationId": "classifyRawEmail",
        "summary": "Classify raw email",
        "description": "Classify a raw email file (.eml) to determine if it contains a purchase order.",
        "tags": [
          "order"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Email file in .eml format"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email classified successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailClassificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid file format (not .eml)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Classification failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order/raw/upload": {
      "post": {
        "operationId": "uploadRawEmail",
        "summary": "Upload raw email",
        "description": "Upload a raw email file (.eml) containing a purchase order for processing. The email is classified, and if it contains a purchase order, attachments are extracted and queued for processing.\n",
        "tags": [
          "order"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Email file in .eml format"
                  },
                  "request_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Optional custom UUID for the request"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email accepted and queued for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid file format or email doesn't contain purchase order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order_status/list": {
      "get": {
        "operationId": "listOrders",
        "summary": "List all orders",
        "description": "Retrieve a paginated list of all processed orders with their current status.",
        "tags": [
          "order_status"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageQuery"
          },
          {
            "$ref": "#/components/parameters/SizeQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of orders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/order_status/{request_id}": {
      "get": {
        "operationId": "getOrderStatus",
        "summary": "Get order status",
        "description": "Retrieve the current status and details of a specific order.",
        "tags": [
          "order_status"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Order status details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderStatus"
                }
              }
            }
          },
          "400": {
            "description": "Invalid UUID format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customer/list": {
      "get": {
        "operationId": "listCustomers",
        "summary": "List customers",
        "description": "Retrieve a paginated list of all customers.",
        "tags": [
          "customer"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageQuery"
          },
          {
            "$ref": "#/components/parameters/SizeQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerListResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customer/search/{query}": {
      "get": {
        "operationId": "searchCustomers",
        "summary": "Search customers",
        "description": "Search for customers using semantic similarity search based on the query text.",
        "tags": [
          "customer"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "description": "Search query text",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "top_k",
            "in": "query",
            "required": false,
            "description": "Number of top results to return",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customers matching the search query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerSearchResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customer/{customer_number}": {
      "get": {
        "operationId": "getCustomer",
        "summary": "Get customer",
        "description": "Retrieve details of a specific customer by their unique customer number.",
        "tags": [
          "customer"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerNumberPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "upsertCustomer",
        "summary": "Create or update customer",
        "description": "Create a new customer or update an existing one. If a customer with the given customer_number exists, it will be updated; otherwise, a new customer will be created. UUID is auto-generated if not provided.\n",
        "tags": [
          "customer"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerNumberPath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUpsert"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Customer created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteCustomer",
        "summary": "Delete customer",
        "description": "Delete a customer record.",
        "tags": [
          "customer"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CustomerNumberPath"
          }
        ],
        "responses": {
          "204": {
            "description": "Customer deleted successfully"
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/product/list": {
      "get": {
        "operationId": "listProducts",
        "summary": "List products",
        "description": "Retrieve a paginated list of all products.",
        "tags": [
          "product"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageQuery"
          },
          {
            "$ref": "#/components/parameters/SizeQuery"
          },
          {
            "name": "language_code",
            "in": "query",
            "required": false,
            "description": "Filter by language code (e.g., \"en\", \"nl\")",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of products",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/product/{product_number}/{language_code}": {
      "get": {
        "operationId": "getProduct",
        "summary": "Get product",
        "description": "Retrieve details of a specific product by its composite primary key.",
        "tags": [
          "product"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductNumberPath"
          },
          {
            "$ref": "#/components/parameters/LanguageCodePath"
          }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "upsertProduct",
        "summary": "Create or update product",
        "description": "Create a new product or update an existing one. The composite key (product_number + language_code) in the path determines the upsert target.\n",
        "tags": [
          "product"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductNumberPath"
          },
          {
            "$ref": "#/components/parameters/LanguageCodePath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductUpsert"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Product created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteProduct",
        "summary": "Delete product",
        "description": "Delete a product record.",
        "tags": [
          "product"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProductNumberPath"
          },
          {
            "$ref": "#/components/parameters/LanguageCodePath"
          }
        ],
        "responses": {
          "204": {
            "description": "Product deleted successfully"
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/template_parameter/list": {
      "get": {
        "operationId": "listTemplateParameters",
        "summary": "List template parameters",
        "description": "Retrieve a paginated list of all available template parameters.",
        "tags": [
          "template_parameters"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageQuery"
          },
          {
            "$ref": "#/components/parameters/SizeQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of template parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateParameterListResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/template_parameter/{role}/{parameter}": {
      "patch": {
        "operationId": "updateTemplateParameter",
        "summary": "Update template parameter",
        "description": "Update the value of a specific template parameter identified by role and parameter name.",
        "tags": [
          "template_parameters"
        ],
        "parameters": [
          {
            "name": "role",
            "in": "path",
            "required": true,
            "description": "Role of the template (e.g., system, assistant, user)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parameter",
            "in": "path",
            "required": true,
            "description": "Name of the template parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateParameterUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template parameter updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateParameter"
                }
              }
            }
          },
          "404": {
            "description": "Template parameter not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/email-watcher/fetch-all": {
      "post": {
        "operationId": "fetchAllEmails",
        "summary": "Fetch all unread emails",
        "description": "Manually trigger the email watcher to fetch all unread emails from the configured inbox and queue them for processing. Requires email configuration (IMAP settings) to be properly configured.\n",
        "tags": [
          "email-watcher"
        ],
        "responses": {
          "200": {
            "description": "Emails fetched and queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchAllEmailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication. Required on all endpoints except /healthcheck. Customer and product endpoints also accept a customer-specific API key.\n"
      }
    },
    "parameters": {
      "RequestIdPath": {
        "name": "request_id",
        "in": "path",
        "required": true,
        "description": "UUID of the order request",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "CustomerNumberPath": {
        "name": "customer_number",
        "in": "path",
        "required": true,
        "description": "Unique customer number (string)",
        "schema": {
          "type": "string"
        }
      },
      "ProductNumberPath": {
        "name": "product_number",
        "in": "path",
        "required": true,
        "description": "Product item number",
        "schema": {
          "type": "string"
        }
      },
      "LanguageCodePath": {
        "name": "language_code",
        "in": "path",
        "required": true,
        "description": "Product language code (e.g., \"en\", \"nl\")",
        "schema": {
          "type": "string"
        }
      },
      "PageQuery": {
        "name": "page",
        "in": "query",
        "required": false,
        "description": "Page number (starts at 1)",
        "schema": {
          "type": "integer",
          "default": 1,
          "minimum": 1
        }
      },
      "SizeQuery": {
        "name": "size",
        "in": "query",
        "required": false,
        "description": "Items per page",
        "schema": {
          "type": "integer",
          "default": 100,
          "minimum": 1,
          "maximum": 1000
        }
      }
    },
    "schemas": {
      "HealthCheckResponse": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "description": "Current status of the service",
            "example": "ok"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "detail"
        ],
        "properties": {
          "detail": {
            "type": "string",
            "description": "Error message describing what went wrong"
          }
        }
      },
      "OrderUploadResponse": {
        "type": "object",
        "required": [
          "request_id"
        ],
        "properties": {
          "request_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the uploaded document"
          }
        }
      },
      "OrderStatus": {
        "type": "object",
        "required": [
          "request_id",
          "timestamp",
          "status"
        ],
        "properties": {
          "request_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the request"
          },
          "attachments": {
            "type": "object",
            "additionalProperties": true,
            "description": "Dictionary of file names to file metadata",
            "default": {}
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Additional metadata associated with the document",
            "default": {}
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "When this status was recorded"
          },
          "status": {
            "type": "string",
            "enum": [
              "QUEUED",
              "PROCESSING",
              "ATTENTION",
              "PROCESSED",
              "FAILED",
              "MODIFIED",
              "REPROCESSED",
              "SENT"
            ],
            "description": "Current processing status of the document"
          },
          "result": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true,
            "description": "JSON data containing the parsed document result"
          },
          "state": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true,
            "description": "JSON data containing the processing state"
          }
        }
      },
      "OrderListResponse": {
        "type": "object",
        "required": [
          "items",
          "total",
          "limit",
          "offset"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderStatus"
            },
            "description": "List of order status objects"
          },
          "total": {
            "type": "integer",
            "description": "Total number of orders in the system"
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of orders returned in this response"
          },
          "offset": {
            "type": "integer",
            "description": "Number of orders skipped (for pagination)"
          }
        }
      },
      "EmailClassificationResponse": {
        "type": "object",
        "required": [
          "category"
        ],
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "purchase_order",
              "order_confirmation",
              "invoice",
              "delivery_note",
              "quotation",
              "receipt",
              "credit_note",
              "unknown"
            ],
            "description": "The classified category of the email"
          }
        }
      },
      "Customer": {
        "type": "object",
        "required": [
          "number"
        ],
        "properties": {
          "number": {
            "type": "string",
            "description": "Customer number (external, unique)"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique customer identifier"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Company name"
          },
          "postal_code": {
            "type": "string",
            "nullable": true,
            "description": "Postal code"
          },
          "city": {
            "type": "string",
            "nullable": true,
            "description": "City"
          },
          "address": {
            "type": "string",
            "nullable": true,
            "description": "Street address"
          },
          "contact_person": {
            "type": "string",
            "nullable": true,
            "description": "Primary contact person"
          },
          "phone_number": {
            "type": "string",
            "nullable": true,
            "description": "Phone number"
          },
          "vat_number": {
            "type": "string",
            "nullable": true,
            "description": "VAT/BTW number"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "Customer email address"
          },
          "coc_number": {
            "type": "string",
            "nullable": true,
            "description": "Chamber of Commerce number"
          },
          "home_page": {
            "type": "string",
            "nullable": true,
            "description": "Company website URL"
          },
          "similarity": {
            "type": "number",
            "format": "float",
            "nullable": true,
            "description": "Similarity score (only populated in search results, 0.0 to 1.0)"
          }
        }
      },
      "CustomerUpsert": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Internal UUID (auto-generated if not provided)"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Company name"
          },
          "postal_code": {
            "type": "string",
            "nullable": true,
            "description": "Postal code"
          },
          "city": {
            "type": "string",
            "nullable": true,
            "description": "City"
          },
          "address": {
            "type": "string",
            "nullable": true,
            "description": "Street address"
          },
          "contact_person": {
            "type": "string",
            "nullable": true,
            "description": "Primary contact person"
          },
          "phone_number": {
            "type": "string",
            "nullable": true,
            "description": "Phone number"
          },
          "vat_number": {
            "type": "string",
            "nullable": true,
            "description": "VAT/BTW number"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "Customer email address"
          },
          "coc_number": {
            "type": "string",
            "nullable": true,
            "description": "Chamber of Commerce number"
          },
          "home_page": {
            "type": "string",
            "nullable": true,
            "description": "Company website URL"
          }
        }
      },
      "CustomerListResponse": {
        "type": "object",
        "required": [
          "items",
          "total",
          "limit",
          "offset"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Customer"
            },
            "description": "List of customer objects"
          },
          "total": {
            "type": "integer",
            "description": "Total number of customers in the system"
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of customers returned"
          },
          "offset": {
            "type": "integer",
            "description": "Number of customers skipped (for pagination)"
          }
        }
      },
      "CustomerSearchResponse": {
        "type": "object",
        "required": [
          "items",
          "total",
          "limit"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Customer"
            },
            "description": "List of customer objects with similarity scores"
          },
          "total": {
            "type": "integer",
            "description": "Total number of customers in the system"
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of customers returned"
          }
        }
      },
      "Product": {
        "type": "object",
        "required": [
          "item_number",
          "language_code",
          "created_at"
        ],
        "properties": {
          "item_number": {
            "type": "string",
            "description": "Unique product identifier"
          },
          "language_code": {
            "type": "string",
            "description": "Language code for the product description (e.g., \"en\", \"nl\")"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Product description"
          },
          "remark": {
            "type": "string",
            "nullable": true,
            "description": "Additional remarks about the product"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When this product was created in the database"
          }
        }
      },
      "ProductUpsert": {
        "type": "object",
        "required": [
          "description"
        ],
        "properties": {
          "description": {
            "type": "string",
            "description": "Product description"
          },
          "remark": {
            "type": "string",
            "nullable": true,
            "description": "Additional remarks about the product"
          }
        }
      },
      "ProductListResponse": {
        "type": "object",
        "required": [
          "items",
          "total",
          "limit",
          "offset"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            },
            "description": "List of product objects"
          },
          "total": {
            "type": "integer",
            "description": "Total number of products in the system"
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of products returned"
          },
          "offset": {
            "type": "integer",
            "description": "Number of products skipped (for pagination)"
          }
        }
      },
      "TemplateParameter": {
        "type": "object",
        "required": [
          "role",
          "parameter",
          "value"
        ],
        "properties": {
          "role": {
            "type": "string",
            "description": "Role of the template (e.g., system, assistant, user)"
          },
          "parameter": {
            "type": "string",
            "description": "Name of the template parameter"
          },
          "value": {
            "type": "string",
            "nullable": true,
            "description": "Value of the template parameter"
          }
        }
      },
      "TemplateParameterUpdateRequest": {
        "type": "object",
        "required": [
          "value"
        ],
        "properties": {
          "value": {
            "type": "string",
            "nullable": true,
            "description": "New value of the prompt template parameter"
          }
        }
      },
      "TemplateParameterListResponse": {
        "type": "object",
        "required": [
          "items",
          "total",
          "limit",
          "offset"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TemplateParameter"
            },
            "description": "List of template parameter objects"
          },
          "total": {
            "type": "integer",
            "description": "Total number of template parameters"
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of template parameters returned"
          },
          "offset": {
            "type": "integer",
            "description": "Number of template parameters skipped (for pagination)"
          }
        }
      },
      "FetchAllEmailsResponse": {
        "type": "object",
        "required": [
          "status",
          "emails_queued",
          "emails_total",
          "message"
        ],
        "properties": {
          "status": {
            "type": "string",
            "description": "Operation status",
            "example": "success"
          },
          "emails_queued": {
            "type": "integer",
            "description": "Number of emails queued for processing"
          },
          "emails_total": {
            "type": "integer",
            "description": "Total number of unread emails found"
          },
          "message": {
            "type": "string",
            "description": "Human-readable status message"
          }
        }
      }
    }
  }
}